<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996755815197-5km99mkhhbhbkkmeu4clh2atlnmdpq4g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996755815197-5km99mkhhbhbkkmeu4clh2atlnmdpq4g</string>
	<key>API_KEY</key>
	<string>AIzaSyCXjy8SU4xljJmeZu2bVMLQcN-FztaXpmU</string>
	<key>GCM_SENDER_ID</key>
	<string>996755815197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>zf.codes.DoMore</string>
	<key>PROJECT_ID</key>
	<string>domore-cbbf3</string>
	<key>STORAGE_BUCKET</key>
	<string>domore-cbbf3.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996755815197:ios:84314f9f5204cd0494fff4</string>
</dict>
</plist>